:root {
  --text-color: 10, 10, 10;
  --background-color: 255, 255, 255;
  --highlight-color: 67, 68, 69;
  --font: 'Libre Baskerville';
  --font-alt: 'Mulish';
}

body {
  text-align: left;
  font-size: 1.1rem;
  font-family: var(--font);
  color: var(--text-color);
  margin: 0;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  line-height: 2em;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

a:any-link {
  color: var(--text-color);
}

@media (min-width:900px) {
  body {
    font-size: 1.5rem;
  }
}

main h1 {
  margin-top: 2em;
  font-size: 2rem;
}

img {
  max-width: 100%;
}

main .section {
  padding-top: 20px;
}

main .section > div:first-of-type {
  padding-top: 20px;
}

main .section > div:first-of-type {
  padding: 0;
}

main .section {
  margin: auto;
  max-width: 375px;
  padding: 0 32px;
}

main .section > div > div:empty {
  padding: 0;
}
main .section > div p {
    margin: 32px 0;
    text-align: left;
    overflow-x: hidden;
}

main .section > div li, main .section > div li p {
  margin: 0;
  text-align: left;
  list-style-type: disc;
}

@media (min-width:900px) {
  main .section {
    max-width: 830px;
  }
}

@media (min-width:1200px) {
  main .section {
    max-width: 1024px;
  }
}